<div class="page-header page-header-xs" style="background-image: url('../assets/img/baners/photo3.jpg');">
    <div class="filter"></div>
  </div>
  <div class="pricing-1 section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h2 class="title">Pick the best plan for you</h2>
          <h5 class="description">Today’s in modern world there are so many challenges increasing demands and tightening competition in their own industries. In research and academic writing section, we are going to be the best assistance for your ongoing research or thesis. Performing such an accurate research or thesis is a challenge. We would love to be a part of that. This hard process can only be fulfilled by an experienced and knowledgeable assistant. We, "Virtual Researcher" is there for you.</h5>
         <h3>How it works</h3>
        </div>
        
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-pricing" data-color="orange">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="nc-icon nc-basket"></i></span>
              </div>
              <h3 class="card-title">Step 01</h3>
              <p class="card-description">
                Submit details of your research or thesis, upload necessary files if needed and most importantly, provide your contact information.
              </p>
              <div class="card-footer">
                <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing" data-color="yellow">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span>
              </div>
              <h3 class="card-title">Step 02</h3>
              <p class="card-description">
                we will find the suitable match up for your research or thesis details with the most qualified freelancing writer in your field.              </p>
              <div class="card-footer">
                <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing" data-color="green">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
              </div>
              <h3 class="card-title">Step 03</h3>
              <p class="card-description">
                suitable freelancing writer for your research or thesis, we will contact you to discuss about the deadline and payments.
              </p>
              <div class="card-footer">
                <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing" data-color="blue">
            <div class="card-body">
              <div class="card-icon">
                <span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span>
              </div>
              <h3 class="card-title">Step 04</h3>
              <p class="card-description">
             Once we have finished the job we will notify you by an email and a call. 

              </p>
              <p>All Done. </p>
              <div class="card-footer">
                <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>