
<div class="page-header page-header-xs" style="background-image: url('../assets/img/baners/photo4.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section section-sections section-gray">
    <div class="container">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="section-description text-center">
          <h2 class="title">FOR YOUR NEXT PROJECT</h2>
          <h5 class="description"> We "Virtual Researcher" is going to be the 1st ever Sri Lankan based Research and Development service providing company specialized in all kind of chemical researches . We have a large expertise in the organic and analytical chemistry industry, willing to provide you a quality and personalized research and development service for all kind of chemical approach projects.
            Our mission is to provide the next level work for chemical industry. We are not only consider about the project, but also our main priority is giving the safest brand and best quality to our customer. That why we are the best company in the industry. Helping and assisting your chemical based research or business in the branded way is our only job.
            If you are planning to start a new chemical based research/business or planning to improve your chemical based research/business, you have come to the right place.
            Not only small project, we are capable of doing high level industry projects as well.
            As we perfectly executed our previous projects, "Virtual Researcher" is generally demanded by the chemical research and development industries. We provide service as per the different requirements of various industries and projects. We have a team of experienced professionals who are graduates from Sri Lankan Universities. Our service is best known for its timely completion, perfect execution etc.
            </h5>
          <br/>
          
        </div>
      </div>
    </div>
  
  </div>
  <div class="pricing-5 section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="title">Choose a plan for your next project</h2>
         
          <br/>
          <h5>In this 21st century product development, process development and big data analysis is a huge part of the modern world. For this issue we got you covered. Our upcoming service is for YOU.</h5>
        </div>
        <div class="col-md-8 ml-auto">
          <div class="tab-content text-center">
            <div class="tab-pane active" id="personal" role="tabpanel">
              <div class="space-top"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-pricing">
                    <div class="card-body">
                      <h6 class="card-category text-primary">R&D Service </h6>
                      
                      <ul>
                        <b>
                       <li>Chemical Research </li>
                       <li> Chemical Products Development</li>
                       <li> Chemical Process Development</li>
                       <li>Chemical Formulation development</li>
                       <li>Chemical Exraction</li>
                       <li>Pharmaceutical Chemical Services</li>
                       <li>Food Science and Technology </li>
                       <li>Polymer Science and Technology </li>
                        
                        
                      </b>
                      </ul>
                      <a href="#pablo" class="btn btn-primary btn-round">Contact</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-pricing" data-color="orange">
                    <div class="card-body">
                      <h6 class="card-category text-success">
                        statistical Service</h6>
                   
                      <ul>
                      <b>
                          <li>Regression and correlation analysis</li>
                          <li>Time series and index number</li>
                          <li>Hypothesis testing</li>
                          <li>Chi Square Test</li>
                          <li>Z test</li>
                          <li>T test</li>
                          <li>ANOVA or even at times MANOVA</li>
                          <li>Mann–Whitney Test</li>
                      </b>
                      </ul>
                      <a href="#pablo" class="btn btn-primary btn-round">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>


  
