<div class="header-2">
  <div class="page-header header-filter" style="background-image: url('assets/img/baners/photo6.jpg');">
      <div class="container">
          <div class="row">
     <div class="col-md-8 col-md-offset-2 text-left">
      <h1 class="title"> You should work with us!</h1>
                <h4 class="title">Need a trusted and qualified assisitant for your research or thesis?Well..there is no other option.you've come to the exactly right place.</h4>
              </div>
            </div>
          <div class="row">        
    <div class="col-md-12 col-md-auto ">
      <div class="card card-raised card-form-horizontal">
        <div class="card-content  content-center">
          <form method="" action="">
            <div class="row">
              <div class="col-sm-4">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
              </div>
              <div class="col-sm-4">
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                  </div>
              </div>
              </div>
              <div class="col-sm-4">
            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
            </div>
              </div>
          </div>
              <div class="row">
                <div class="col-sm-9">
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
              <input type="text" class="form-control" placeholder="Short Description" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-file-text" aria-hidden="true"></i></span>
              </div>
          </div>
                  </div>
                <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-block">Quick Start</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
          </div>
      </div>
  </div>
</div>
<div class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title ">Why should you choose Our Virtual Researcher's Assistant?</h2>
          <h5 class="description">When it comes to assistant and consulting to each one, we understand that no two projects or theses are the same. We recognize that each has its specific needs. </h5>
          <h5 class="description">We are your one-stop assisting and consulting solution that you can always count on! </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-palette"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Information accuracy</h4>
              <p class="description">Hiring Virtual Researcher's service helps you to remain worry-free, because we are the best at what we do. We are passionate about research and willing to go the extra mile to understand your needs.</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Professionalism</h4>
              <p>Virtual Researcher is the fastest-rising organization when it comes to research assisting and thesis writing. We are your top choice to deliver the best services. </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Faster turnaround time</h4>
              <p>We highly value your time and we know how important it is. When you hire us, we deliver what you ask on the agreed time without any delays. That is more than 100% guaranteed!</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Reasonable rates</h4>
              <p>One of the best reasons to choose Virtual Researcher is our reasonable and demanded rates that you won’t find anywhere else.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--     *********    END FEATURES 1      *********      -->
 

  <div class="main">
    <div class="section">
      <div class="container">
       <h2 class="text-center creators">What Clients Say</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="../assets/img/faces/clientgwee.jpg" alt="...">
                    
                  </a>
                </div>
                <h4 class="card-title">Mr Gwee</h4>
                <p class="card-description text-center">
                  "I want to practise something new ,extraction of Pt from catalytic convators, fortunately I met sgs.I got the full detail method with proper plan .Good job, keep it up.
                "</p>
              </div>
       
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="../assets/img/faces/clientdinesha.jpg" alt="...">
                    
                  </a>
                </div>
                <h4 class="card-title">Ms Dinesha</h4>
                <p class="card-description text-center">
                  "I haven't R&D facilities in my newly started business. But, I was enough success to initiate with R&D support from their expertise . Highly recommend their service & technical support.                "</p>
              </div>
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-body">
                <div class="card-avatar">
                  <a href="#avatar">
                    <img src="../assets/img/faces/clientmenaka.jpg" alt="...">
                   
                  </a>
                </div>
                <h4 class="card-title">Ms Menaka</h4>
                <p class="card-description text-center">
                  "I am following my master degree parallel to the job. I haven't enough time to manage both, Then I met VR, It was easy to have a research perfect to the expectation with their friendly staff.
                "</p>
              </div>
          
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>

